{% extends 'base/dashboard-base.html' %}

{% block title %} Statistiek {% endblock %}

{% block navbar %}
            <div class="user-section">
                <img class="user-avatar" src="{{ url_avatar }}" alt="User Avatar">
                <span class="user-name">{{ display_name }}</span>
                <a href="{{ url_for('auth.logout') }}">{{ gettext('Uitloggen') }}</a>
            </div>
{% endblock %}

{% block content %}
        <h1>Dashboard - {{ gettext('statistiek') }}</h1>
        <h2>Prediction</h2>
    <img src="{{ url_for('static', filename='images/' + img_prediction + ".png") }}", width=600, height="425">
    <h2>Gemiddelde</h2>
    <img src="{{ url_for('static', filename='images/' + img_gemiddelde + ".png") }}", width=600, height="425">
    <h2>Mediaan</h2>
    <img src="{{ url_for('static', filename='images/' + img_mediaan + ".png") }}", width=600, height="425">
{% endblock %}