{% extends 'base/dashboard-base.html' %}

{% block title %} Library {% endblock %}



{% block content %}
    <main class="page-body">
      <div class="card-container">
        <div class="card">
            <div class="card-content">
                <h4>Dashboard - {{ gettext('Bibliotheek') }}</h4>
            {% if games %}
                <table>
                    <thead>
                        <tr>
                            <th><h3>{{ gettext('Naam van spel') }}</h3></th>
                            <th><h3>{{ gettext('Totaal uren') }}</h3></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for game in games %}
                            <tr>
                                <td>
                                <div class="game-info">
                                    <img src="https://media.steampowered.com/steamcommunity/public/images/apps/{{ game.appid }}/{{ game.url_avatar }}.jpg" alt="{{ game.name }}" class="game-avatar"/>
                                    <span>{{ game.name }}</span>
                                </div>
                                <td>{{ game.playtime_forever }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>{{ gettext('Fout: We konden je bibliotheek niet ophalen.') }}</p>
                <p>{{ gettext('Mogelijk staat je bibliotheek op prive.') }}</p>
                <a href="{{ url_for('dashboard.index') }}">{{ gettext('Ga terug') }}</a>
            {% endif %}
            </div>
        </div>
      </div>
    </main>
{% endblock %}