{% extends 'base/dashboard-base.html' %}

{% block title %} Library {% endblock %}



{% block content %}
        <h1>Dashboard - {{ gettext('Bibliotheek') }}</h1>
    {% if games %}
        <table>
            <thead>
                <tr>
                    <th><h3>{{ gettext('Naam van spel') }}</h3></th>
                    <th><h3>{{ gettext('Totaal uren') }}</h3></th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                    <tr>
                        <td>{{ game.name }}</td>
                        <td>{{ game.playtime_forever }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ gettext('Fout: We konden je bibliotheek niet ophalen.') }}</p>
        <p>{{ gettext('Mogelijk staat je bibliotheek op prive.') }}</p>
        <a href="{{ url_for('dashboard.index') }}">{{ gettext('Ga terug') }}</a>
    {% endif %}


{% endblock %}