{% extends 'base/dashboard-base.html' %}

{% block title %} Friends {% endblock %}

{% block navbar %}
            <div class="user-section">
                <img class="user-avatar" src="{{ url_avatar }}" alt="User Avatar">
                <span class="user-name">{{ display_name }}</span>
                <a href="{{ url_for('auth.logout') }}">{{ gettext('Uitloggen') }}</a>
            </div>
{% endblock %}

{% block content %}

        <h1>Dashboard - {{ gettext('Vrienden vergelijken') }}</h1>
    {% if friend_games %}

        <table>
            <thead>
                <h2>Spel statistieken van jezelf </h2>
                <tr>
                    <th><h2>{{ gettext('Naam van spel') }}</h2></th>
                    <th><h2>{{ gettext('Totaal uren') }}</h2></th>
                </tr>
            </thead>
            <tbody>
                {% for game in own_games %}
                    <tr>
                        <td>{{ game.name }}</td>
                        <td>{{ game.playtime_forever }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table>
            <thead>
                    <h2>Spel statistieken van: {{ friend_display_name }} </h2>
                <tr>
                    <th><h2>{{ gettext('Naam van spel') }}</h2></th>
                    <th><h2>{{ gettext('Totaal uren') }}</h2></th>
                </tr>
            </thead>
            <tbody>
                {% for game in friend_games %}
                    <tr>
                        <td>{{ game.name }}</td>
                        <td>{{ game.playtime_forever }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ gettext('Fout: We konden de spellen van {name} niet ophalen.').format(name=friend_display_name) }}</p>
        <a href="{{ url_for('dashboard.friends') }}">{{ gettext('Ga terug') }}</a>
    {% endif %}

{% endblock %}