{% extends 'base/dashboard-base.html' %}

{% block title %} Friends {% endblock %}

{% block navbar %}
            <div class="user-section">
                <img class="user-avatar" src="{{ url_avatar }}" alt="User Avatar">
                <span class="user-name">{{ display_name }}</span>
                <a href="{{ url_for('auth.logout') }}">{{ gettext('Uitloggen') }}</a>
            </div>
{% endblock %}

{% block content %}

        <h1>Dashboard - {{ gettext('Vrienden') }}</h1>
    {% if friends %}
        <table>
            <thead>
                <tr>
                    <th><h2>{{ gettext('Vriendenlijst') }}  ({{ total_friends }})</h2></th>
                </tr>
            </thead>
            <tbody>
                {% for friend in friends %}
                    <tr>
                        <td><a href="{{ url_for('dashboard.compare', friend_id=friend['steamid']) }}"> {{ friend['display_name'] }} </a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ gettext('Fout: We konden je vriendenlijst niet ophalen.') }}</p>
        <p>{{ gettext('Mogelijk staat je vriendenlijst op prive.') }}</p>
        <a href="{{ url_for('dashboard.index') }}">{{ gettext('Ga terug') }}</a>
    {% endif %}


{% endblock %}