{% extends 'base/dashboard-base.html' %}

{% block title %} Home {% endblock %}

{% block navbar %}
            <div class="user-section">
                <img class="user-avatar" src="{{ url_avatar }}" alt="User Avatar">
                <span class="user-name">{{ display_name }}</span>
                <a href="{{ url_for('auth.logout') }}">{{ gettext('Uitloggen') }}</a>
            </div>
{% endblock %}

{% block content %}
        <h1>Dashboard</h1>
        <p>{{ gettext('Ingelogd als') }}: {{ display_name }}</p>

        <h2>{{ gettext('Mijn statestieken') }}</h2>
        <p>{{ gettext('Uren gespeeld deze 2 weken') }}: {{ playtime }}</p>

    {% if afstand %}
        <h2>{{ gettext('Afstand tussen laptop: ') }}</h2>
        <p id="afstand"></p>
    {% else %}
        <p>{{ gettext('Fout: We konden de afstand niet ophalen.') }}</p>
        <a href="{{ url_for('dashboard.index') }}">{{ gettext('Ga terug') }}</a>
    {% endif %}

        <h2>{{ gettext('Meest gespeelde spelen deze 2 weken:') }}</h2>
    {% if games %}
        <table>
            <thead>
                <tr>
                    <th><h2>{{ gettext('Naam van spel') }}</h2></th>
                    <th><h2>{{ gettext('Uren deze 2 weken') }}</h2></th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                    <tr>
                        <td>{{ game.name }}</td>
                        <td>{{ game.playtime_2weeks }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ gettext('Fout: We konden je bibliotheek niet ophalen.') }}</p>
        <p>{{ gettext('Mogelijk staat je bibliotheek op prive.') }}</p>
    {% endif %}

    <script>
        // Counter om bij te houden hoe vaak de functie is aangeroepen
        let counter = 0;
        const maxCalls = 20;
    
        function updateAfstand() {
            // Maak de interval leeg als maxCalls is bereikt
            if (counter >= maxCalls) {
                clearInterval(interval); // Stop the interval if maxCalls is reached
                return;
            }
    
            // URL om de afstand op te halen
            const afstand_url = "/dashboard/afstand?afstand=13.28";
    
            // Fetch data van de afstand URL
            fetch(afstand_url)
                .then(response => response.json())
                .then(data => {
                    const afstandValue = data.afstand;
    
                    // Update de afstand in de HTML
                    const afstandElement = document.getElementById('afstand');
                    afstandElement.innerHTML = `${afstandValue}`;
                })
                .catch(error => {
                    console.error('Error fetching afstand:', error);
                });
    
            // Optellen bij de counter
            counter++;
        }
    
        // Zet de interval om de 3 seconden
        const interval = setInterval(updateAfstand, 3000);
    </script>

{% endblock %}