{% extends 'base/dashboard-base.html' %}

{% block title %} Friends {% endblock %}



{% block content %}
<main class="page-body">
      <div class="card-container">
        <div class="card">
            <div class="card-content">
                <h4>Dashboard - {{ gettext('Vrienden') }}</h4>
            {% if friends %}
                <table>
                    <thead>
                        <tr>
                            <th><h3>{{ gettext('Vriendenlijst') }}  ({{ total_friends }})</h3></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for friend in friends %}
                            <tr>
                                <td><a href="{{ url_for('dashboard.compare', friend_id=friend['steamid']) }}"> {{ friend['display_name'] }} </a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>{{ gettext('Fout: We konden je vriendenlijst niet ophalen.') }}</p>
                <p>{{ gettext('Mogelijk staat je vriendenlijst op prive.') }}</p>
                <a href="{{ url_for('dashboard.index') }}">{{ gettext('Ga terug') }}</a>
            {% endif %}
            </div>
        </div>
      </div>
</main>

{% endblock %}