<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Steam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}">
</head>
<body>
    <header>
        <nav class="steam-navbar">
            <div class="steam-logo">
                <img src="https://store.fastly.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016" alt="Steam Logo">
            </div>
        </nav>
    </header>

    <hr>
    <div class="container">
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </div>

    <footer class="footer-section">
        <div class="container">
            <p>&copy; 2024 All Rights Reserved.</p>
            <ul>
                <li><a href="#">Social Media</a></li>
                <li><a href="#">Terms and Conditions</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>