<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Steam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <h1>Steam project</h1>
            </div>
            <ul class="navigation">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Services</a></li>
            </ul>
        </nav>
    </header>

    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>

    <footer class="footer-section">
        <div class="container">
            <p>&copy; 2024 All Rights Reserved.</p>
            <ul>
                <li><a href="#">Social Media</a></li>
                <li><a href="#">Terms and Conditions</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>