{% extends 'base/base.html' %}

{% block navbar %}
    {% if not logged_in %}
            <a href="{{ url_for('auth.login') }}">
                    <img style="height: fit-content"
                         src="https://community.fastly.steamstatic.com/public/images/signinthroughsteam/sits_01.png"
                    >
            </a>
        {% else %}
            <div class="user-section">
                <img class="user-avatar" src="{{ steam_avater }}" alt="User Avatar">
                <span class="user-name">{{ display_name }}</span>
                <a href="{{ url_for('auth.logout') }}">{{ gettext('Uitloggen') }}</a>
            </div>
        {% endif %}
{% endblock %}

{% block content %}
        <h2>{{ gettext('Dit is de test pagina van Steam') }}</h2>
        <br>
        <h3>Database Check: </h3>
        <p> Database Host: {{ DB_host }}</p>
        <p> Database Port: {{ DB_port }}</p>
        <p> Database Database: {{ DB_database }}</p>
        <p> Database {{ gettext('gebruiker') }}: {{ DB_user }}</p>
        <p> Database {{ gettext('versie') }}: {{ version }} </p>
        <br>
        {% if logged_in %}
        <h3>Steam API Check</h3>
        <p> Steam {{ gettext('gebruikersnaam') }}: {{ display_name }}</p>
        <p> Steam ID: {{ steam_id }}</p>
        {% else %}
        <p>{{ gettext('Je bent nog niet ingelogd, meld je via de knop hieronder aan.') }}</p>
        <a href="{{ url_for('auth.login') }}">
                <img src="https://community.fastly.steamstatic.com/public/images/signinthroughsteam/sits_01.png">
        </a>
        {% endif %}

    </div>
{% endblock %}