{% extends 'base.html' %}

{% block content %}
    <span class="title"><h1>{% block title %} The test page of Steam Project {% endblock %}</h1></span>
    <div class="content">
        <h2>This is the test page of Steam</h2>
        <br>
        <h3>Database Check: </h3>
        <p> Database Host: {{ env_data['DB_HOST'] }}</p>
        <p> Database Database: {{ env_data['DB_DATABASE'] }}</p>
        <p> Database User: {{ env_data['DB_USER'] }}</p>
        <p> Database version: {{ version }} </p>
        <br>
        <h3>Steam API Check</h3>
    </div>
{% endblock %}